@import url('https://fonts.googleapis.com/css2?family=Livvic&family=Open+Sans&family=Roboto:ital,wght@0,400;1,300&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
.detail{
    margin-top: 50px;
}

ul{
    list-style: none;
    padding-left: 0;
    padding-right: 0;
}

img{
    width: 100%;
    vertical-align: middle;
}

.container{
    width: 1140px;
    max-width: 100%;
    padding: 10px 0 112px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px
}

.row {
    height: 337px;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}

.col-lg-5 {
    padding: 0 12px 12px 0;
    flex: 0 0 auto;
    width: 41.66666667%;
} 

.list-img{
    padding: 0 0 0 12px;
}

.col-4 {
    padding: 0 12px;
    flex: 0 0 auto;
    width: 33.33333333%;
}

.col-lg-4{
    padding: 0 12px 12px 12px;
    flex: 0 0 auto;
    width: 33.33333333%;
}

.main-info{
    background-color: #f5f5f5;
}


.name-product {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 8px;
    color: black;
    padding-top: 5px;
}

.main-info .name-product, .main-info .price-product, .main-info .name-product, .main-info .text-intro, .main-info .soluong {
    padding-left: 10px;
    padding-bottom: 3px;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.price-product{
    margin-top: 10px;
    margin-bottom: 0px;
    /* justify-content: center; */
}

.price-product .price{
    width: 100%;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #EB2528; 
}

.text-intro {
    font-size: 15px;
    font-weight: 500;
    color: #4f555a;
    margin-bottom: 15px;
}

.rate-number p{
    font-size: 12px;
    font-weight: bold;
    padding-top: 5px;
    color: gray;
}
.stars i{
    font-size: 12px;
}

.soluong{
    margin-bottom: 35px;
}


.sl-text{
    font-size: 15px;
    font-weight: 600;
    margin-right: 10px !important;
    margin: 0;
}

}

.soluong i{
    padding: 5px;
    background-color: #F3F4F6;
    color: grey;
    border: 1px solid #ddd;
    background-color: white;
}

.fa{
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    /* -moz-osx-font-smoothing: grayscale; */
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.soluong input{
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 30px;
    height: 28px;
    border: 1px solid #ddd;
    text-align: center;
}

.rate{
    justify-content: space-between;
}

.stars{
    padding-left: 15px;
}

.stars .fa{
    color: #c89551;
}

.stars i{
    font-size: 12px;
}

.stars .far{
    color:gray;
}

.main-info .rate-number{
    padding-right: 15px;
}

.rate-number p {
    font-size: 12px;
    font-weight: bold;
    padding-top: 5px;
    color: gray;
    margin-top: 0;
    margin-bottom: 1rem;
}

.d-flex {
    display: flex!important;
}

.buttons{
    flex-wrap: nowrap;
   
}

.addCart{
    border: none;
    width: 100%;
    background-color: #c89551;
    font-size: 12px;
    padding: 10px 0;
    font-weight: bold;
    color: white;
}

button, select {
    text-transform: none;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button{
    border-radius: 0;
}

.col-lg-3 {
    flex: 0 0 auto;
    padding: 0 12px;
    width: 25%;
}

.uudai{
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    /* margin-top: 30px; */
}

.uudai p{
    padding-left: 10px;
}

.uudai-title{
    background-color: #DADADA;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

.product-intro{
    margin-top: 30px;
    background-color: #F7F7F7;
}

.nav-tabs{
    border-bottom: 1px solid #dee2e6;
}


.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.detail .nav-item{
    padding: 0 !important;
}

.nav-item {
    font-size: 15px;
    font-weight: bold;
    color: #C4C4C4 !important;
}
.detail .nav-item .nav-link{
    font-size: 18px;
    color: black;
    font-weight: 700;
}
.detail .nav-item .nav-link.active{
    background-color: #c89551;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0px;
}

.nav-tabs .nav-link {
    margin-bottom: -1px;
    background: 0 0;
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #0d6efd;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}


.tab-content {
    margin-top: 10px;
}

.tab-content>.active {
    font-family: 'Times New Roman', Times, serif;
    width: 75%;
    display: block;
}

.fade {
    transition: none;
}

.list-thongso{
    list-style: square;
    padding-left: 20px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.flex-column {
    flex-direction: column!important;
}

.justify-content-center {
    justify-content: center!important;
}


.nhanxet{
    font-size: 20px;
    font-weight: 500;
    color: #4f555a;
}

.input input{
    margin-bottom: 5px;
    height: 40px;
    padding: 10px;
    border: 1px solid #ddd;
}

.input input:focus{
    outline: none;
}

.input textarea:focus{
    outline: none;
}

.input input::placeholder,.input textarea::placeholder{
    padding-left: 10px;
}

.input textarea{
    height: 100px;
    padding: 10px;
    border: 1px solid #ddd;
}

textarea {
    resize: vertical;
}

.send .star1{
    margin: 0 15px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.text-center {
    text-align: center!important;
}

.btn{
    background-color: #c89551;
    font-size: 16px;
    font-weight: bold;
    color: white;
    /* margin-left: 340px; */
}
img{
    cursor: pointer;
}

hr:not([size]) {
    height: 1px;
}

.hr {
    margin: 30px 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: .25;
}

.text-start {
    text-align: left!important;
}

.comment .row {
    margin-bottom: 20px;
}

.col-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
}

.col-11 {
    padding: 0 12px;
    flex: 0 0 auto;
    width: 91.66666667%;
}

.comment-name {
    font-size: 20px;
    font-weight: 600;
}

.comment .stars {
    padding: 0;
}

.comment .row {
    margin-bottom: 20px;
}

.col-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
}

/* product */
body{
    background-color: #fff;
}

.suggest {
    margin: 50px 0;
}

.suggest-heading{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.suggest .slider{
    position: relative;
    display: block;
    box-sizing: border-box;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-initialized .slick-slide {
    display: block;
}

.suggest .left-icon{
    padding: 5px 10px;
    background-color: #c89551;
    position: absolute;
    left: -10px;
    top: 130px;
    z-index: 2;
    opacity: 0.6;
}

.suggest .left-icon i{
    color: white;
    font-size: 20px;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    transform: translate3d(0, 0, 0);
}

.suggest .product:hover{
    box-shadow: 1px 1px 20px rgb(0 0 0 / 30%);
    cursor: pointer;
}

.suggest .product {
    position: relative;
    margin: 0 5px;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

a {
    text-decoration: none;
    color: #0d6efd;
}

/* a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
} */

.suggest .product-img {
    background-color: whitesmoke;
    height: 200px;
}

.slick-slide img {
    display: block;
}

.suggest .product-info {
    background-color: #F7F7F7;
}

.suggest .name-product {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 8px;
    color: black;
    padding-top: 5px;
}


.suggest .price-product {
    /* margin-left: 90px; */
    justify-content: center;
}

.price-product {
    margin-top: 10px;
    margin-bottom: 0px;
    /* justify-content: center; */
}

.align-items-center {
    align-items: center!important;
}

.suggest .price-product .price {
    /* width: 100%; */
    margin-bottom: 5px;
    font-size: 17px;
    font-weight: bold;
    color: #EB2528;
}

.suggest .price-product .root-price {
    margin-bottom: 3px;
    font-size: 12px;
    font-weight: bold;
    color: grey;
    text-decoration: line-through;
    margin-left: 5px;
}

.rate {
    justify-content: space-between;
}

.suggest .stars {
    padding-left: 15px;
}

.suggest .rate-number {
    margin-left: 85px;
}

.suggest .rate-number p {
    font-size: 12px;
    font-weight: bold;
    padding-top: 5px;
    color: gray;
}

.suggest .stars{
    padding-left: 15px;
}

.suggest .col-3{
    padding: 6px;
}

.suggest .addCart{
    width: 100%;
    border: none;
    padding: 0;
    background-color: #c89551;
    font-size: 12px;
    padding: 10px;
    font-weight: bold;
    color: white
}

.suggest .buttons {
    flex-wrap: nowrap;
}

.suggest .discount {
    position: absolute;
    top: 5px;
    padding: 5px 20px;
    background-color: #428eff;
    height: 30px;
    font-size: 15px;
    font-weight: 500;
    color: white;
    border-radius: 8px;
}

.suggest .right-icon {
    padding: 5px 10px;
    background-color: #c89551;
    position: absolute;
    right: -10px;
    top: 130px;
    z-index: 2;
    opacity: 0.6;
}

.suggest .right-icon i {
    color: white;
    font-size: 20px;
}
