
.login-form {
    margin: 20px 10px 0;
}

label {
    display: block;
    font-size: 20px;
}

input {
    width: 100%;
    margin: 10px 0 30px;
    height: 50px;
    padding-left: 10px;
    background-color: #F7F7F7;
    border-radius: 5px;
    outline: none;
    border: none;
}

.login-submit {
    background-color: black;
    color: white;
    width: 350px;
    margin: 0 auto;
    display: block;
}

    .login-submit:hover {
        background-color: white;
        color: black;
        border: 1px solid black;
    }

.forget-password {
    color: #916847;
    font-size: 20px;
    text-decoration: none;
    width: 153px;
    display: block;
    margin: 10px auto;
}

.regeiter-now {
    font-size: 20px;
    margin: 5px auto;
    width: 344px;
}

    .regeiter-now a {
        text-decoration: none;
        color: #916847;
    }

@media (min-width:1024px) {
    .title-login {
        padding: 30px 0 20px;
        font-size: 30px;
        width: 350px;
        margin: auto;
    }

    .login-content {
        margin: 150px 300px 100px;
    }

    .login-submit {
        width: 300px;
    }
}
