@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="banner">
        <div class="inner">
            <div class="container text-center">
                <p class="title-heading">Về chúng tôi</p>
                <p class="intro"><a href="">Trang chủ</a>/<a href="">Về chúng tôi</a></p>
            </div>
        </div>
    </div>
    <div class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <p class="title-intro">Wood Work Shop</p>
                    <p class="intro-content">
                        Đồ gỗ mỹ nghệ chắc hẳn đã không còn xa lạ trong cuộc sống hiện nay.
                        Chúng ta không khó để thấy các sản phẩm đồ gỗ đang dần trở thành thị yếu trong các gia đình
                        Việt. Và ngày càng được nâng tầm lên đồ gỗ nội thất cao cấp hơn.

                        Đồ gỗ Vương Thao được thành lập và hoạt động trong lĩnh vực sản xuất đồ gỗ nội thất từ những
                        năm 1990, đến nay đã trải qua quá trình gần 30 năm. Quy tụ phong cách nội thất Phương Đông
                        và Phương Tây, kết hợp giữa cổ điển và hiện đại. Đồ gỗ Vương Thao chúng tôi luôn mong muốn
                        mang lại cho các bạn một không gian sống tinh tế, hoàn hảo, nâng tầm giá trị cũng như thẩm
                        mỹ cho ngôi nhà. Cũng nhờ hiểu được nhu cầu và thị hiếu của người tiêu dùng, sản phẩm của Đồ
                        gỗ Vương Thao chú trọng và thiết kế theo những phong cách riêng dẫn đầu xu hướng nhằm tạo ra
                        một không gian sống thật thoải mái, ấm cúng, tiện nghi và mới mẻ.
                    </p>
                </div>
                <div class="col-lg-6">
                    <img src="/img/banner/banner3.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="why">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <p class="why-title">Tại sao nên chọn Wood Work Shop</p>
                    <ul class="why-list">
                        <li> Đảm bảo chất lượng sản phẩm luôn là số 1.</li>
                        <li>Giá thành kinh tế nhất trên thị trường.</li>
                        <li>Hậu mãi chuyên nghiệp nhất.</li>
                        <li>Đảm bảo cung cấp giá trị lợi ích lớn nhất cho khách hàng.</li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <img src="/img/banner/banner4.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>


