
@{
    ViewData["Title"] = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner">
            <div class="inner">
                <div class="container text-center">
                    <p class="title-heading">Tin tức</p>
                    <p class="intro">
                        <a href="">Trang chủ </a>/<a href=""> Tin tức </a>
                    </p>
                </div>
            </div>
        </div>

        <div class="allnews">
            <div class="container">
                <div class="text-center"><p class="new">Tin tức mới nhất</p></div>
                <div class="news">
                    <div class="news1">
                        <a href="news1.html">
                            <div class="row">
                                <div class="col-lg-6">
                                    <img src="~/img/banner/banner4.jpg" alt="">
                                </div>
                                <div class="col-lg-6">
                                    <div class="news-heading">SẢN PHẨM NỘI THẤT ĐEM TỚI VẺ ĐẸP VINTAGE CHO NGÔI NHÀ</div>
                                    <p class="news-intro">“Vintage” là từ có nguồn gốc từ tiếng Pháp, dùng để chỉ những đồ vật đã có thời gian sử dụng lâu dài. Phong cách vintage là sự hòa trộn hoàn hảo giữa nét đẹp cổ điển và hiện đại. Từ lâu, phong cách vintage đã gây ấn tượng sâu sắc và được nhiều người yêu thích bởi vẻ giản dị, mộc mạc nhưng đầy tinh tế thông qua các thiết kế trong lĩnh vực thời trang, xe cộ, đồ trang trí,...</p>
                                    <div class="author-news">
                                        <div class="row">
                                            <div class="col-lg-6 order-2 d-flex"><p>Tác giả:</p> <p class="name">Lê Văn Linh</p></div>
                                            <div class="col-lg-6 order-1">
                                                <i class="far fa-clock"></i>05:06:08 - 20/11/2021
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="">
                        <a href="news2.html">
                            <div class="row">
                                <div class="col-lg-6">
                                    <img src="~/img/banner/banner3.jpg" alt="">
                                </div>
                                <div class="col-lg-6">
                                    <div class="news-heading">CĂN HỘ ẤM ÁP NHỜ BIẾT CÁCH SỬ DỤNG NỘI THẤT Gỗ
                                    </div>
                                    <p class="news-intro">Đồ gỗ mang đến sự ấm áp, sang trọng nên được nhiều người ưu tiên lựa chọn trong trang trí nội thất căn hộ hiện đại.
                                        Trong phòng khách gỗ được chọn làm chất liệu chính cho bàn ghế, tủ tivi và sàn nhà.
                                        Phòng ngủ dù không trang bị nhiều vật dụng đắt tiền nhưng vẫn ấm áp, thoải mái và là nơi yêu thích nhất của gia chủ.
                                    </p>
                                    <div class="author-news">
                                        <div class="row">
                                            <div class="col-lg-6 order-2 d-flex"><p>Tác giả:</p> <p class="name">Lê Văn Linh</p></div>
                                            <div class="col-lg-6 order-1">
                                                <i class="far fa-clock"></i>05:06:08 - 20/11/2021
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="news3">
                        <a href="news4.html">
                            <div class="row">
                                <div class="col-lg-6">
                                    <img src="~/img/news/moctreo.jpg" alt="">
                                </div>
                                <div class="col-lg-6">
                                    <div class="news-heading">MÓC TREO ĐỒ ĐÀN ACCORDION TREO ĐÂU CŨNG XINH
                                    </div>
                                    <p class="news-intro">Kiểu móc treo đồ hiện đại này đảm bảo bạn đặt đâu thì trông cũng sẽ rất ấn tượng và đáng yêu cơ!
                                        Nguyên liệu làm móc treo đồ:

- 6 thanh gỗ dài 25cm

- 4 thanh gỗ ngắn 12,5cm

- 13 thanh gỗ tròn nhỏ ngắn

- Keo dán gỗ

- Khoan
                                    </p>
                                    <div class="author-news">
                                        <div class="row">
                                            <div class="col-lg-6 order-2 d-flex"><p>Tác giả:</p> <p class="name">Lê Văn Linh</p></div>
                                            <div class="col-lg-6 order-1">
                                                <i class="far fa-clock"></i>05:06:08 - 20/11/2021
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="others-news">
                        <div class="text-center"><p class="other-title">Tin tức khác</p></div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <a href="">
                                    <img src="~/img/news/guong.jpg" alt="">
                                    <div class="others-name">KIỂU TỦ GƯƠNG VỪA XINH VỪA TIỆN CHO NGÔI NHÀ CHẬT HẸP
                                    </div>
                                    <div class="time">
                                        <i class="far fa-clock"></i>05:06:08 - 20/11/2021
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <a href="">
                                    <img src="~/img/news/tu.png" alt="">
                                    <div class="others-name">ĐI TÌM TỦ VẠN NĂNG GHÉP ĐƯỢC MUÔN VÀN KIỂU
                                    </div>
                                    <div class="time">
                                        <i class="far fa-clock"></i>05:06:08 - 20/11/2021
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <a href="">
                                    <img src="~/img/news/tu.png" alt="">
                                    <div class="others-name">ĐI TÌM TỦ VẠN NĂNG GHÉP ĐƯỢC MUÔN VÀN KIỂU
                                    </div>
                                    <div class="time">
                                        <i class="far fa-clock"></i>05:06:08 - 20/11/2021
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- <div class="more text-center">
                            <button class="btn">Xem thêm</button>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
